/* Modificar estilos del scroll */
/* Ancho y color del scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Color del "pulgarcito" (barra de desplazamiento) */
::-webkit-scrollbar-thumb {
  background-color: #575757;
  border-radius: 4px;
}

/* Color de la pista (fondo del scrollbar) */
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
}
